A listagem deverá exibir uma tabela com os itens cadastrados, bem como um link para edição e exclusão de cada item, e um
botão para adicionar um novo item. A busca dos itens para listagem deve ser realizada de forma assíncrona. Ao clicar em
excluir o usuário deverá ser questionado se realmente deseja excluir o item em questão. Caso sim, o item deverá ser
removido e exibida uma notificação de sucesso ou erro.
Ao clicar em editar, o usuário deverá ser redirecionado para o formulário, carregado com os dados do item em questão. O
botão de adicionar apenas redirecionará para a página do formulário.

<p-table [value]="db_itens">
  <ng-template pTemplate="header">
    <tr>
      <th>codigo</th>
      <th>nome</th>
      <th>marca</th>
      <th>escala</th>
      <th>quantidade</th>
      <th>valor</th>
      <th>data fabricação</th>
      <th>é produto perecivel</th>
      <th>Data Validade</th>
      <th>ações</th>
    </tr>
  </ng-template>
  <ng-template
       pTemplate="body"
       let-item
  >
    <tr>
      <td class="text-center">{{item.codigo}}</td>
      <td class="text-center">{{item.nome}}</td>
      <td class="text-center">{{item.marca}}</td>
      <td class="text-center">{{item.escala.value}}</td>
      <td class="text-center">{{item.quantidade}}</td>
      <td class="text-center">{{item.valor | currency: 'BRL'}}</td>
      <td class="text-center">{{item.dt_fabricacao | date: 'dd/MM/yy'}}</td>
      <td class="text-center">
        <i class="pi pi-check" *ngIf="item.isPerecivel "></i>
        <i class="pi pi-times" *ngIf="!item.isPerecivel "></i>
      </td>
      <td class="text-center">{{item.dt_validade | date: 'dd/MM/yy'}}</td>
      <td class="text-center">
        <p-button></p-button>
        <p-button></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
