<h2 class="beauty-font-regular">Listagem dos itens.</h2>
<p-messages [(value)]="msgs"></p-messages>


<p-table
     #tt
     [value]="db_itens"
     [paginator]="true"
     [rows]="5"
     [globalFilterFields]="['nome','marca','codigo']"
>
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between align-content-center">
      <div class="w-30vw">
        <button
             pButton
             icon="pi pi-plus"
             class="ui-button-info"
             (click)="cadastrar()"
            label="Cadastrar novo item"
             ></button>
      </div>
      <div class="w-30vw">
        <i
             class="pi pi-search"
             style="margin:4px 4px 0 0"
        ></i>
        <input
             type="text"
             pInputText
             size="50"
             placeholder="Pesquisar pelos campos Nome, Marca e Codigo"
             (input)="tt.filterGlobal($event.target.value, 'contains')"
        >
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="ui-p-3">Código</th>
      <th class="">Nome</th>
      <th class="ui-p-5">Marca</th>
      <th class="ui-p-2">Escala</th>
      <th class="ui-p-2">Quantidade</th>
      <th class="ui-p-3">Valor</th>
      <th class="ui-p-4">Data de fabricação</th>
      <th class="ui-p-6">É produto perecível</th>
      <th class="ui-p-6">Data Validade</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template
       pTemplate="body"
       let-item
  >
    <tr>
      <td class="text-center ui-p-3">{{item.codigo}}</td>
      <td class="text-center">{{item.nome}}</td>
      <td class="text-center ui-p-5">{{item.marca}}</td>
      <td class="text-center ui-p-2">{{item.escala.value}}</td>
      <td class="text-center ui-p-2">{{item.quantidade}}</td>
      <td class="text-center ui-p-3">{{item.valor | currency: 'BRL'}}</td>
      <td class="text-center ui-p-4">{{item.dt_fabricacao | date: 'dd/MM/yy'}}</td>
      <td class="text-center ui-p-6">
        <i
             class="pi pi-check"
             *ngIf="item.isPerecivel "
        ></i>
        <i
             class="pi pi-times"
             *ngIf="!item.isPerecivel "
        ></i>
      </td>
      <td class="text-center ui-p-6">{{item.dt_validade | date: 'dd/MM/yy'}}</td>
      <td class="flex ">
        <button
             pButton
             icon="pi pi-pencil"
             class="ui-button-info"
             (click)="edit(item)"
        ></button>
        <button
             pButton
             icon="pi pi-trash"
             class="ui-button-danger ml-2"
             (click)="delete(item)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>



<p-confirmDialog
     #cd
     header="Confirmation"
     icon="pi pi-exclamation-triangle"
>
  <p-footer>
    <button
         type="button"
         pButton
         icon="pi pi-times"
         label="Cancelar"
         class="custom-outlined"
         (click)="cd.reject()"
    ></button>
    <button
         type="button"
         pButton
         icon="pi pi-check"
         label="Excluir"
         (click)="cd.accept()"
    ></button>
  </p-footer>
</p-confirmDialog>
