<nav id="sidenav">
  <div
       class="flex flex-column links"
       (click)="this.toggleNav()"
  >

    <button
         pButton
         type="button"
         class=" ui-button-warning ui-button-raised ui-button-rounded"
         routerLink="home"
    >Home</button>
    <button
         pButton
         type="button"
         class=" ui-button-warning ui-button-raised ui-button-rounded"
         routerLink="listagem"
    >Listagem</button>
    <button
         pButton
         type="button"
         class=" ui-button-warning ui-button-raised ui-button-rounded"
         routerLink="formulario"
    >Formulario</button>
    <button
         pButton
         type="button"
         class=" ui-button-warning ui-button-raised ui-button-rounded"
         routerLink="info"
    >Info</button>
  </div>
</nav>


<div id="inside">
  <header>
    <p-button
         icon="{{!isNavOpen?'pi pi-list':'pi pi-times'}}"
         (click)="toggleNav();"
    ></p-button>
    <div class="flex align-items-center w-full align-content-center justify-content-center">
      <img src="assets/1902843.svg" height="15rem">
      <h1>Armazém do Chico</h1>
      <img src="assets/1902843.svg" height="15rem">
    </div>

    <!-- <img
         routerLink="home"
         src="https://picsum.photos/id/292/70/70"
         alt=""
    > -->
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
