

:host{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
header {
  width: 80%;
  display: flex;
  background-color: var(--primary-color);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header>*{
  padding: 4px;
}


nav{
  width: 20%;
}
